
body {
  background: #F4F4F4;
}

.tangerine-header {
  display: block !important;
  background-color: #ef6433;
}

.tangerine-header-row {
  padding-left: 10px;
}

.tangerine-page-title {
  font-size: 19px;
}

.tangerine-page-title a, .tangerine-page-title a:hover {
  color: #F8F185; 
  text-decoration: none
}

.mdl-menu__item a, .mdl-menu__item a:hover {
  color:rgba(0,0,0,.87);
  text-decoration: none;
}

.tangerine-page-title {
  padding-left: 20px;
}

.tangerine-footer {
  background-color: #2b2b2b;
}

.tangerine-school-list li {
  border-bottom: 1px solid rgba(0,0,0,.12)
}

.tangerine-list-header {
  font-weight: bold;
  color: #EF6433;
}

.tangerine-school-name {
  padding-left: 10px;
}

.tangerine-tab-bar {
  justify-content: left;
}

.tangerine-tab-content--text-pad{
    padding: 25px;
    /* padding-right: 4.7rem; */
    text-align: justify;
}

#search-input {
    background-color: #fff;
    position: relative;
    left: 10px;
    top: 10px;
}

.tangerine-tab-content--text-pad h1{
  margin: 0 0 25px 0;
}

.tangerine-card-full-width {
  width: 100%;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: #EF6433;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background-color: #EF6433 !important;
}

.mdl-tabs__tab{
    color: #EF6433;
}

.mdl-layout__tab-bar-button, .mdl-layout__tab-bar{
    background-color: #fff;
    /*color: #EF6433;*/
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active, .mdl-layout__tab{
    color: #EF6433;
}
