
body {
  background: #F4F4F4;
}

.tangerine-header {
  display: block !important;
  background-color: #ef6433;
}

.tangerine-header-row {
  padding-left: 10px;
}

.tangerine-footer {
  background-color: #2b2b2b;
}

